<div class="bar">
	<div class="filter input hasIcons">
		<i class="icon-filter"></i>
		<input type="text" placeholder="{{local 'action.filter'}}">
		<i class="icon-cross clickable"></i>
	</div>

	<div class="new">
		<a href="#jobs/create" class="btn positive">
			<i class="icon-plus"></i>
            {{local 'jobs.action.create'}}
		</a>
	</div>
</div>
<ul></ul>