<div class="bar">
	<div class="input">
		<input type="text" class="filter" placeholder="{{local 'action.filter'}}">
	</div>

	<div class="new">
		<a href="#jobs/edit" class="btn positive">
			<i class="icon-plus"></i>
            {{local 'jobs.action.create'}}
		</a>
	</div>
</div>
<ul></ul>