<ul class="accordion">
	<li class="source">
		<div class="summary">
		</div>

		<a>{{local 'jobs.source.change'}}</a>
		<ul class="popup links">
            {{#each link in links}}
				<li>
                    {{identifier}}
				</li>
            {{/each}}
		</ul>
	</li>
	<li class="target">
		<div class="summary">
		</div>

		<a>{{local 'jobs.edit.target.change'}}</a>
		<ul class="popup links">
            {{#each link in links}}
				<li>
                    {{identifier}}
				</li>
            {{/each}}
		</ul>
	</li>
</ul>