<div class="bar">
	<div class="filter input hasIcons">
		<i class="icon-filter"></i>
		<input type="text" class="filter" placeholder="{{local 'action.filter'}}">
		<i class="icon-cross clickable"></i>
	</div>

	<div class="new">
		<a class="btn positive" data-popup-selector=".popup">
			<i class="icon-link"></i>
            {{local 'links.create.label'}}
		</a>

        <div class="popup"
             data-popup-orientation="bottom"
             data-popup-align="right">
            <span>{{local 'links.create.description'}}</span>
	        <ul class="providers"></ul>
        </div>
	</div>
</div>
<ul></ul>