body, textarea {
	font-family: 'Open Sans', sans-serif;
	font-weight: normal;
}

h1, h2, h3, h4, h5 {
	font-weight: normal;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 0 0 @paddingSmall 0;
}

h1 {
	font-size: 1.6em;
}

h2 {
	font-size: 1.3em;
}

h3 {
	font-size: 1em;
}

h4 {
	font-size: 0.7em;
}

h5 {
	font-size: 0.4em;
}

/* Links/Buttons */

a {
	text-decoration: none;
	color: @linkColor;
	cursor: pointer;

	&:hover, &:focus {
		color: @linkColorLight;
	}
}

/* Utilities */

div.clr, br.clr {
	clear: both;
}

.noResize {
	.noResize();
}

ul {
	&.no-style {
		.noListStyle();
	}

	&.clickable {
		.clickableList();
	}
}

ul.grid {
	.gridList();
}

ul.horizontal {
	.noListStyle();

	> li {
		float: left;
	}
}