@import "variables";
@import "mixins";

#main {

	> nav {
		.tableLayout();

		> a {
			text-align: center;
			font-size: 16pt;
			line-height: 2em;
			background: @areaColorLight;
			color: @fontColor;

			&:hover, &:focus {
				background: @accentColorLight;
			}

			&.active {
				color: #FFF;
				background: @accentColor;
			}
		}
	}

	> .main {
		padding: @paddingBig;
	}
}