@import "variables";
@import "mixins";

#main {
	position: fixed;
	.fill();

	> * {
		position: absolute;
		width: 100%
	}

	> nav {
		@borderWidth: 5pt;
		@contentHeight: @headerHeight - @borderWidth;
		font-size: @contentHeight;
		top: 0;
		left: 0;

		> div {
			.tableLayout();
			height: auto;

			> a {
				.areaLink();
				font-size: @contentHeight / 4;
				line-height: @contentHeight / 2;
				border-bottom: @borderWidth solid @areaColor;

				&.active {
					border-bottom-color: @accentColor;
					color: #FFF;
				}

				> i {
					float: left;
					line-height: @contentHeight;
					font-size: 16pt;
					margin: 0 @paddingNormal;
				}

				h1, h3 {
					margin: 0;
				}

				h1 {
					line-height: 24pt;
				}

				h3 {
					line-height: 16pt;
				}
			}
		}
	}

	> .main {
		top: @headerHeight;
		bottom: @footerHeight;
		left: 0;
		overflow-y: auto;

		> * {
			margin: auto;
			max-width: @deviceWidthBig - (2 * @paddingBig);
			min-width: @deviceWidthSmall - (2 * @paddingBig);
		}
	}

	#footer {
		bottom: 0;
		left: 0;
		height: @footerHeight;
		width: 100%;
		background: @areaColorLight;
		color: @fontColor;
		line-height: @footerHeight;
		padding: 0 @paddingNormal;

		.design {
			float: right;
		}
	}
}

.login {
	@formHeight: 150pt;
	@registerWidth: 600pt;
	font-size: 14pt;

	&.showRegister {
		> .loginSite {
			margin-left: -150%;
		}

		> .registerSite {
			margin-left: -(@registerWidth / 2);
		}
	}

	> * {
		position: fixed;
		top: 50%;
		left: 50%;

		.transition(margin-left, @transitionSpeedSlow);
	}

	> .loginSite {
		@formWidth: 400pt;
		margin-top: -(@formHeight / 2);
		margin-left: -(@formWidth / 2);

		form {
			width: 100%;
			height: @formHeight;

			> .gridForm {
				width: 400pt;
				margin: auto;
			}
		}

		.services {
			.noListStyle();
			text-align: center;
			width: 100%;

			.serviceSplitter {
				margin: @paddingNormal 0;
			}

			> li {
				display: inline-block;
				line-height: 30pt;
				padding: @paddingNormal;
				background: #FFF;
				cursor: pointer;
				.transition(background);

				&:hover, &:focus {
					background: @areaColorLight;
				}

				img {
					width: 30pt;
					height: 30pt;
					float: left;
					margin-right: @paddingNormal;
				}
			}
		}
	}

	> .registerSite {
		width: @registerWidth;
		margin-left: 50%;
		margin-top: -(@formHeight / 2);
	}
}

.error {
	position: fixed;
	top: 0;
	left: 50%;
	margin-left: -25%;
	width: 50%;
	background: @areaColorDark;
	color: #FFF;
	z-index: @zError;
	text-align: center;
	padding: @paddingNormal;

	> i {
		position: absolute;
		right: @paddingNormal;
		top: 50%;
		.fittingFont(10pt);
		margin-top: -0.5em;
		cursor: pointer;
	}
}