@import "variables";
@import "mixins";

.links {

	> .bar {
		display: table;
		width: 100%;

		> .input, > .new {
			display: table-cell;
			vertical-align: middle;
		}

		> .new {
			width: 1px;
			white-space: nowrap;
			padding-left: @paddingNormal;

			> .popup {
				background: #FFF;
				border: 1pt solid @areaColor;
				padding: @paddingNormal;

				ul.providers {
					.noListStyle();
					.autoClear();
					margin-top: @paddingSmall;

					li {
						.areaLink();
						padding: @paddingSmall;
						margin-top: 2pt;

						&:first-child {
							margin-top: 0;
						}

						.icon {
							float: left;
						}

						strong {
							font-size: 12pt;
						}
					}
				}
			}
		}
	}

	> ul {
		.noListStyle();

		> li {
			&.hidden {
				display: none;
			}

			> div {
				.tableLayout();
				height: auto;
				table-layout: auto;
				margin-top: @paddingNormal;
				padding: @paddingNormal;
				border-top: 1pt solid @areaColor;

				> .icon {
					width: 1px;

					img {
						width: 60pt;
						height: 60pt;
					}
				}

				> .cell {
					padding-left: @paddingNormal;

					h1 {
						font-weight: bold;
						margin-bottom: @paddingSmall;
					}

					form {
						display: none;

						.btnBar {
							width: 200pt;
						}
					}
				}

				a.edit {
					float: left;
					margin-right: @paddingSmall;
				}
			}

			&.editing > div > .cell {
				form {
					display: table;
				}

				.view {
					display: none;
				}
			}
		}
	}
}